<%- include("./includes/header.ejs", {title: title}); %>

<body>
<div class="container">
    <h1><u>About us</u></h1>
    <br>
    <p>Food finder is an application designed to let users search for restaurants based on their desired type of food. It is too often that I know what type of food it is that I want, but am unsure of all the locations around me that offer those items. For example, there are days where I know I want a burrito, but I don't have any specific types of burritos in mind, I just know I want some tortilla wrapped goodness.</p>
    <p>Food finder offers the perfect solution to this issue by providing users with access to a database of the restaurants in rohnert park, and an easy to use interface to interact with.</p>
    <br>
    <img src="/images/erd.png" width="770" height="350" />
    <br>
    <br>
    <img src="/images/relationalSchema.png" width="770" height="350" />
    <br>
    <br>
</div>
</body>

<%- include("./includes/footer.ejs"); %>