<%- include("./includes/header.ejs", {title: title}); %>


  <body>
  <div class="container">
  <h1>Welcome to <%= title %></h1>
    <h4><a href="/about">About us</a></h4>
    <br>
    <h4><a href="foodsearch/prepareSearch">Search for restaurants by food item</a></h4>
    <br>
    <h4>Search for restaurants by amenities</h4>
    <br>
    <h4>Add a new food item to the system</h4>
  </div>

  <div class="center" >
    <br>
    <br>
    <br>
    <br>
    <img src="/images/burrito.png" width="150" height="150" />
  </div>
  </body>

<%- include("./includes/footer.ejs"); %>