<%- include("../includes/header.ejs", {title:"Search restaurant by food"}); %>

<body>
<div class="container">
    <h1>These locations are available for <%= result[0].name %></h1><br>
    <table border="1">
        <tr><th>Street</th><th>Opens</th><th>Closes</th><th>Phone</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].street_name %></td>
            <td><%= result[i].Otime %></td>
            <td><%= result[i].Ctime %></td>
            <td><%= result[i].phone %></td>
        </tr>
        <% } %>
    </table>
    <br>
    <h4><a href="../../foodsearch/prepareSearch">New Search</a></h4>
    <h4><a href="/">Back to Home</a></h4>
</div>
</body>

<%- include("../includes/footer.ejs"); %>