<%- include("../includes/header.ejs", {title:"Search restaurant by food"}); %>

<body>
<div class="container">
    <h1>These restaurants have what your looking for</h1><br>

    <table border="1">
        <tr><th>Restaurant</th><th>Item Name</th><th>Location info</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].name %></td>
            <td><%= result[i].item_name %></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='../restaurant/locations/?name=<%= result[i].name %>'">More</button>
            </td>
        </tr>
        <% } %>
    </table>
    <br><br>

    <h4><a href="./prepareSearch">New Search</a></h4>
    <h4><a href="/">Back to Home</a></h4>


</div>
</body>

<%- include("../includes/footer.ejs"); %>