<%- include("../includes/header.ejs", {title:"Search restaurant by food"}); %>

<body>
<div class="container">
    <h1>Search for restaurants by food item</h1>
    <form action="/foodsearch/sendSearch" method="get">
        What types of foods are you looking to eat? <br><br>
        <select id="food_class" name="food_class">
            <% for(var i=0; menu_item.length > i; i++ ) {
                var selected = "";

            %>
            <option value="<%= menu_item[i].food_class %>" <%= selected %> ><%= menu_item[i].food_class %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#food_class').multiselect();
            });
        </script>
        <br />
        <br>
        <input type="submit" />

    </form>
</div>
</body>

<%- include("../includes/footer.ejs"); %>